<div class="text-white col-10 col-md-8 col-lg-6 mx-auto ">
    <h1 class="mt-5 mb-2">Aggiungi Nuovo Vino</h1>
  
    <form class="d-flex flex-column gap-3" (ngSubmit)="saveWine()">
      <div class="form-group">
        <label for="variety" class="mb-2">Varietà</label>
        <input [(ngModel)]="wine.variety" name="variety" id="variety" required class="form-control">
      </div>
  
      <div class="form-group">
        <label for="producer" class="mb-2">Produttore</label>
        <input [(ngModel)]="wine.producer" name="producer" id="producer" required class="form-control">
      </div>
  
      <div class="form-group">
        <label for="description" class="mb-2">Descrizione</label>
        <textarea [(ngModel)]="wine.description" name="description" id="description" required class="form-control"></textarea>
      </div>

      <div class="form-group">
        <label for="price" class="mb-2">Prezzo</label>
        <input [(ngModel)]="wine.price" name="price" type="number" id="price" required class="form-control">
      </div>
  
      <div class="form-group">
        <label for="recommendedVinylId" class="mb-2">Vinili Consigliati</label>
        <input [(ngModel)]="wine.recommendedVinylId" name="recommendedVinylId" id="recommendedVinylId" required class="form-control">
      </div>
  
      <button type="submit" class="btn btn-primary">Aggiungi Vino</button>
    </form>
  </div>
  
