// _colors.scss

//$primary-color: #4B3621;
//$secondary-color: #FF7F11;
//$accent-color: #FFD700;
//$background-color: #6B8E23;
//$text-color: #F5DEB3;
$primary-color: #036977;
$secondary-color: #EAA44F;
$tertiary-color: #4f1814;
//#72231C
$background-color: #FAF0D7;
$extra-color: #CD3333;
