<div *ngIf="vinyl" class="text-white col-10 col-md-8 col-lg-6 mx-auto">
    <h1 class="mt-5 mb-2 title-bold">Modifica Vinile</h1>
  
    <h4 class="mb-4">#ID {{vinyl.id}}</h4>
  
    <form class="d-flex flex-column gap-3 mb-5 custom-form" (ngSubmit)="saveVinyl()">
  
      <div class="form-group">
        <label for="name" class="mb-2">Nome</label>
        <input [(ngModel)]="vinyl.name" name="name" id="name" required class="form-control">
      </div>
  
      <div class="form-group">
        <label for="price" class="mb-2">Prezzo</label>
        <input [(ngModel)]="vinyl.price" name="price" type="number" id="price" required class="form-control">
      </div>
  
      <div class="form-group form-check">
        <input [(ngModel)]="vinyl.available" name="available" type="checkbox" id="available" class="form-check-input">
        <label for="available" class="form-check-label">Disponibile</label>
      </div>
  
      <div class="form-group">
        <label for="year" class="mb-2">Anno</label>
        <input [(ngModel)]="vinyl.year" name="year" type="number" id="year" required class="form-control">
      </div>
  
      <!-- <div class="form-group">
        <label for="coverImg" class="mb-2">Immagine di Copertina</label>
        <input [(ngModel)]="vinyl.coverImg" name="coverImg" id="coverImg" required class="form-control">
      </div> -->
      <!-- <div class="form-group">
        <label for="coverImg" class="mb-2">Immagine di Copertina</label>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" class="form-control" id="coverImg">
      </div>
      
      <input type="hidden" [(ngModel)]="vinyl.coverImg" name="coverImg" id="coverImg"> -->
      <div class="form-group">
        <label for="posterImg">Poster</label>
        <input type="file" id="posterImg" (change)="onFileSelected($event)" class="form-control">
      </div>
      <div *ngIf="previewUrl">
        <img [src]="previewUrl" alt="Movie Poster Preview" style="max-width: 100%;">
      </div>
  
      <div class="form-group">
        <label for="genre" class="mb-2">Genere</label>
        <input [(ngModel)]="vinyl.genre" name="genre" id="genre" required class="form-control">
      </div>

      <div class="form-group wine-list">
        <label for="wines" class="mb-2">Vini Raccomandati</label>
        <div *ngIf="wines">
          <div *ngFor="let wine of wines">
            <input type="checkbox" 
                   [value]="wine.id" 
                   [checked]="selectedWineIds.includes(wine.id)" 
                   (change)="onWineSelectionChange(wine.id, $event)">
            {{wine.variety}} - {{wine.producer}}
          </div>
        </div>
      </div>
  
      <button type="submit" class="btn btn-global mx-auto w-50">Salva Modifiche</button>
      <button type="button" class="btn btn-danger btn-global btn-edit-delete mx-auto w-50" (click)="vinyl.id !== undefined && deleteVinyl(vinyl.id)">Elimina Vinile</button>

    </form>
  </div>
  
